.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black
}

.navItems {
  padding: 0px 20px;
}

.navItems > ul {
  display: flex;
  list-style-type: none;
}

.navItems > ul > li {
  padding: 10px;
  margin: 10px;
}

.restContainer {
  display: flex; 
  flex-wrap: wrap; 
}

.restCard {
  margin: 2px;
  padding: 5px;
  max-width: 300px
}

.restCard:hover {
  border: 1px solid black;
  cursor: pointer;
}

.filter {
  display: flex;
}

.filter-btn {
  margin: 20px;
  cursor: pointer;
}

.restLogo {
  height: 50%;
  width: 100%;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 200px;
  height: 400px;
  background-color: #f0f0f0;
  margin: 20px;
}

.login {
  padding: 0 20px;
  cursor: pointer;
}

.search {
  padding: 20px;
}

.search-btn {
  cursor: pointer;
}

.about {
  cursor: pointer;
  color: red;
  text-decoration: none;
}

.contact {
  cursor: pointer;
  color: red;
  text-decoration: none;
}

.error {
  color: red;
}

.cart {
  cursor: pointer;
  text-decoration: none;
  color: red;
}